<div id="pricing" class="w-full max-w-6xl mx-auto"  x-intersect="activeStep = 'spy-3'">
  <div class="p-6 md:p-10 rounded-2xl bg-muted-200 dark:bg-muted-900">
    <div class="grid md:grid-cols-2 ltablet:grid-cols-3 lg:grid-cols-3 gap-6">
      <div class="ptablet:hidden">
        <div class="h-full flex items-center justify-center">
          <div class="font-sans md:px-4">
            <h3 class="text-2xl mb-3 text-muted-800 dark:text-muted-100">Nuestros talleres</h3>
            <p class="mb-3 text-sm text-muted-500 dark:text-muted-400">
              Te ofrecemos un espacio de aprendizaje y crecimiento personal diseñado para cuidar de tu bienestar emocional y psicológico. Cada taller está guiado por profesionales de la psicología que te brindarán herramientas prácticas para afrontar los desafíos de la vida cotidiana.
            </p>
          </div>
        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">
            <div
              class="flex items-center justify-center h-12 w-12 border border-muted-200 dark:border-muted-700 rounded-full bg-white dark:bg-muted-800 mr-2"
            >
              <div
                class="flex items-center justify-center h-10 w-10 bg-rose-100 dark:bg-rose-100/10 rounded-full"
              >
                <iconify-icon class="iconify w-5 h-5 flex items-center justify-center text-2xl text-rose-500" icon="ph:first-aid-duotone"></iconify-icon>
              </div>
            </div>
            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
              Taller 1
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eaque nam, doloremque sit totam iure quia quisquam corrupti, explicabo quae sapiente, maxime animi recusandae. Incidunt nobis id illo quas iste!
          </p>
          <div class="flex items-center mt-2 mb-4">
            <h4
              class="font-heading text-4xl font-semibold text-muted-800 dark:text-white mr-4"
            >
              $0
            </h4>
          
          </div>
          <ul class="pb-4 space-y-1 text-muted-400">
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Lorem ipsum dolor sit amet </span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Dolor sit amet</span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Lorem ipsum</span>
            </li>
          </ul>
          <a
            href="https://wa.me/5491141762191"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Pedir turno
          </a>
        </div>
      </div>
      <!-- Pricing option -->
      <div>
        <div
          class="w-full rounded-xl px-6 md:px-8 pt-6 md:pt-8 pb-4 border border-muted-200 dark:border-muted-700 bg-white dark:bg-muted-800 transition-colors duration-300"
        >
          <div class="flex items-center -mt-2">
            <div
              class="flex items-center justify-center h-12 w-12 border border-muted-200 dark:border-muted-700 rounded-full bg-white dark:bg-muted-800 mr-2"
            >
              <div
                class="flex items-center justify-center h-10 w-10 bg-rose-100 dark:bg-rose-100/10 rounded-full"
              >
                <iconify-icon class="iconify w-5 h-5 flex items-center justify-center text-2xl text-rose-500" icon="ph:first-aid-duotone"></iconify-icon>
              </div>
            </div>
            <h3
              class="font-heading text-2xl font-medium text-muted-800 dark:text-white"
            >
              Taller 2
            </h3>
          </div>

          <p
            class="font-sans text-sm py-2 mt-1 text-muted-500 dark:text-muted-400"
          >
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eaque nam, doloremque sit totam iure quia quisquam corrupti, explicabo quae sapiente, maxime animi recusandae. Incidunt nobis id illo quas iste!
          </p>
          <div class="flex items-center mt-2 mb-4">
            <h4
              class="font-heading text-4xl font-semibold text-muted-800 dark:text-white mr-4"
            >
              $0
            </h4>
          
          </div>
          <ul class="pb-4 space-y-1 text-muted-400">
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Lorem ipsum dolor sit amet </span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Dolor sit amet</span>
            </li>
            <li class="flex items-center">
              <iconify-icon class="iconify block mr-1" icon="lucide:check"></iconify-icon>
              <span class="font-sans text-sm">Lorem ipsum</span>
            </li>
          </ul>
          <a
            href="https://wa.me/5491141762191"
            class="block w-full text-sm text-center font-sans my-2 py-4 font-medium text-primary-600 hover:text-muted-100 hover:bg-primary-500 hover:shadow-lg hover:shadow-primary-500/30 rounded-lg border border-primary-600/25 transition-all duration-300"
          >
            Pedir turno
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
