---
import Card from "@components/base/Card.astro";
---

<div x-cloak class="relative overflow-hidden" x-intersect="activeStep = ''">
  <div x-data="swiper()" class="carousel-container">
    <div class="carousel-controls flex items-center justify-end mb-4">
      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slidePrev()">
        <iconify-icon class="iconify" icon="lucide:arrow-left"></iconify-icon>
      </button>

      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slideNext()">
        <iconify-icon class="iconify" icon="lucide:arrow-right"></iconify-icon>
      </button>
    </div>
    <div class="swiper-container" x-ref="container">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Llegué con muchas dudas, pero el equipo fue increíble desde el primer momento. Me hicieron sentir en confianza y los resultados superaron mis expectativas. ¡Gracias por todo!
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/1.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Mariano A.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>
       
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                No solo recibí un excelente tratamiento, sino que también me sentí escuchado y valorado. Todo el personal es amable y atento. Recomendaría este lugar sin dudarlo.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/6.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Carlos M.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>
       
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Después de años buscando soluciones, finalmente encontré a personas que realmente se preocupan. No tengo palabras suficientes para expresar mi gratitud. Mi calidad de vida ha mejorado muchísimo.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/2.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Andrea P.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Rocio la secretaria que te recibe siempre con una sonrisa y muy atenta a todo . Los profesionales bien me gusta ir.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/9.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Viviana R.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>
        
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Exelente Atención. Muy conforme con la atención.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/4.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Dolores Euge H.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>

        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Estoy súper encantado con el consultorio, en especial con la Lic. Rocio que es una excelente persona y profesional.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/20.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Nicolas M.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>

        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Hermoso lugar y un servicio excelente, son muy amables.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/10.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Chechu Chaile
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>

        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Me gusta la atencion y la disponibilidad que manejan, es excelente !

              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/21.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Sabrina L.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>

        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Lo encontré en Google buscado terapia en Garin ya que me era difícil conseguir. Siempre atenta la secretaria con los turnos y dudas que consulté. Me atiendo con la Lic. Rocio y se puede ver un equipo de trabajo comprometido y atento al servicio de sus pacientes. Muchas gracias!

              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/13.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Florencia De C.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>

        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Estamos muy contentos con el trabajo en conjunto de la  psicopedagoga y la psicóloga. Muy cálido el lugar lo recomiendo.

              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/14.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Andrea Q.
                  </h4>
                </div>
              </div>
            </div>
          </Card>
        </div>


      </div>
    </div>
  </div>
</div>
