---
import Logo from "@components/base/Logo.astro";
import ThemeToggler from "@components/base/ThemeToggler.astro";
import Hamburger from "@components/base/Hamburger.astro";
---

<div
  x-cloak
  x-data="navbar()"
  x-on:scroll.window="scroll()"
  class="fixed top-0 left-0 w-full z-50 transition-all duration-300"
  :class="scrolled || $store.app.mobileOpen ? 'bg-white dark:bg-muted-900 shadow-lg shadow-muted-300/30 dark:shadow-muted-900/40' : ''"
>
  <div
    class="w-full max-w-7xl mx-auto flex items-center justify-between pl-4 pr-0 lg:pr-4 font-sans"
  >
    <!-- Left -->
    <div class="w-full lg:w-auto flex items-center gap-4">
      <a href="/" class="flex items-center gap-3">
        <div
          class="transition-all duration-300"
          :class="scrolled || $store.app.mobileOpen ? 'text-rose-500' : 'text-primary-600'"
        >
          <img src="/img/logo/logo.svg" alt="Logo" width="70">
         
        </div>
        <span
          class="font-sans text-lg tracking-widest text-muted-800 dark:text-muted-100 text-wrap leading-5"
          >Consultorios Salud y Bienestar</span
        >
      </a>
  
      <div class="flex items-center justify-center h-20 w-20 lg:hidden ml-auto">
        <Hamburger />
      </div>
    </div>
    <!-- Right -->
    <div
      class="flex-col items-center lg:justify-end gap-x-6"
      :class="$store.app.mobileOpen ? 'absolute top-[80px] left-0 w-full flex text-center px-6 pt-2 pb-6 border-t border-muted-200 dark:border-muted-800 bg-white dark:bg-muted-900 shadow-lg shadow-muted-300/40 dark:shadow-muted-900/50' : 'hidden lg:flex lg:flex-row'"
    >
      <div class="flex flex-col lg:flex-row items-center gap-x-6 lg:gap-x-10">

        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
        :class="activeStep === 'spy-1' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
      >
        <a href="#servicios">Servicios</a>
      </div>
  
        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
          :class="activeStep === 'spy-2' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
        >
          <a href="#profesionales">Profesionales</a>
        </div>

        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
        :class="activeStep === 'spy-3' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
      >
        <a href="#talleres">Talleres</a>
      </div>

        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
        :class="activeStep === 'spy-4' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"
      >
        <a href="#espacio">Nosotros</a>
      </div>

        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
        :class="activeStep === 'spy-5' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"> 
          <a href="#testimonios">Testimonios</a>
        </div>
  
        <div class="relative py-3 lg:py-5 after:content-[''] after:absolute after:-bottom-1.5 after:left-0 after:h-[3px] after:rounded-t-full after:transition-all after:duration-300 transition-colors duration-300"
        :class="activeStep === 'spy-6' ? 'text-primary-500 after:bg-primary-500 after:w-full' : 'text-slate-500 dark:text-slate-400 hover:text-muted-700 dark:hover:text-muted-100 after:w-0'"> 
          <a href="#contacto">Contacto</a>
        </div>
        <div class="py-3 lg:py-5">
          <ThemeToggler />
        </div>
      </div>
      <div class="w-full md:w-auto">
        <span
      >
  
        <a href="https://www.instagram.com/consultorios_salud_y_bienestar/" target="_blank" class="text-muted-500">
          <iconify-icon class="iconify w-5 h-5 flex items-center justify-center text-xl" icon="fa6-brands:instagram"></iconify-icon>
        </a>
    
      </span>
      </div>
    </div>
  </div>
</div>
