---
import Layout from "@layouts/Default.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Toolbar from "@components/content/doctors/grid/Toolbar.astro";
import Filters from "@components/content/doctors/grid/Filters.astro";
import Grid from "@components/content/doctors/grid/Grid.astro";
import SideStatsRight from "@components/content/features/SideStatsRight.astro";
import SideStatsLeft from "@components/content/features/SideStatsLeft.astro";

import Cta from "@components/content/Cta.astro";
import Testimonials from "@components/content/Testimonials.astro";
---

<Layout title="Home">

<div class="fixed bottom-8 right-8 z-50 flex items-center justify-center w-16 h-16 bg-primary-500 text-white rounded-full shadow-xl shadow-primary-300/30 dark:shadow-primary-900/50 ">
  <a href="https://wa.me/541123811345" target="_blank">
    <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl hover:scale-110" icon="ph:whatsapp-logo"></iconify-icon>
  </a>
</div>

  <HeroMain />

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Explorá nuestras especialidades"
        subtitle="Descubrí cómo podemos ayudarte a alcanzar una vida más saludable y plena. ¡Estamos acá para vos!"
        minititle="Servicios"
        id="servicios"
      />

      <div class="grid grid-cols-2 md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-12" 
      x-intersect="activeStep = 'spy-2'" >
        <!-- Item -->
        <div>
          <IconBlock
            title="Psicología"
            text="Orientación TCC (Terapia Cognitivo Conductual), atención a adolescentes,  adultos, psicotécnicos."
            icon="ph:heartbeat-duotone"
            class="'text-primary-600'"
          />
        </div>
        <div>
          <IconBlock
            title="Psiquiatría"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
            icon="ph:brain-duotone"
            class="'text-primary-600'"
          />
        </div>
        <div>
          <IconBlock
            title="Psicopedagogía"
            text="Atención a niños de 6 a 15 años. Experiencia en dificultades de aprendizaje."
            icon="ph:baby-duotone"
            class="'text-primary-600'"
          />
        </div>
        <div>
          <IconBlock
            title="Nutrición"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
            icon="ph:person-duotone"
             class="'text-rose-500'"
          />
        </div>

        <div>
          <IconBlock
            title="Masoterapia"
            text="Masajes descontracturantes y drenaje linfático manual."
            icon="ph:hand-soap-duotone"
            class="'text-rose-500'"
          />
        </div>
        <div>
          <IconBlock
            title="Talleres Niños"
            text="Talleres para niños de 3 a 16 años"
            icon="ph:person-duotone"
             class="'text-primary-600'"
          />
        </div>

        <div>
          <IconBlock
            title="Evaluación TEA y Neurocognitiva"
            text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
            icon="ph:calendar-duotone"
            class="'text-primary-600'"
          />
        </div>
        <!-- Item -->
        <div>
          <IconBlock
            title="Terapia grupal de Adicciones"
            text="Lunes de 17:30 a 19hs. 4 encuentros en el mes."
            icon="ph:calendar-duotone"
            class="'text-primary-600'"
          />
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted class="'border-b border-muted-200 dark:border-muted-800'">
    <Container>
      <SectionTitle
        title="Nuestros profesionales"
        subtitle="Nuestro equipo de profesionales está comprometido con tu bienestar, combinando técnicas modernas con un enfoque humano y cercano."
        minititle="Profesioanales"
        class="'mx-auto text-center'"
        id="profesionales"
      />

      <div  x-data="doctors()"  x-intersect="activeStep = 'spy-1'">
        <Toolbar />

        <!--Grid wrapper-->
        <div class="py-10">
          <div class="grid grid-cols-12 md:gap-12 pb-20">
            <!--Filters-->
            <div class="hidden lg:block col-span-12 lg:col-span-3">
              <Filters />
            </div>
            <!--Content-->
            <div class="col-span-12 lg:col-span-9">
              <!--Subgrid-->
              <Grid />
            </div>
          </div>
         
        </div>
      </div>
    </Container>
  </SectionMuted>

  <!-- <SectionMuted>
    <Container>
      <SectionTitle
        title="Pricing Options"
        subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tibi hoc incredibile, quod beatissimum."
        minititle="Simple Pricing"
        class="'mx-auto text-center'"
      />
      <Pricing />
    </Container>
  </SectionMuted> -->



  <SectionMuted >
    <Container>
      <SectionTitle
        title="Nuestro espacio"
        subtitle=`Padre Perna 1591 (planta baja), 
        Padre Perna 1592 (planta alta) 
        Garin, Prov. Buenos Aires, Argentina`
        minititle="Ubicación"
        class="'mx-auto text-center'"
        id="ubicacion"
        
      />
      <div x-intersect="activeStep = 'spy-3'">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.464945462224!2d-58.73568282429793!3d-34.41494327302251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bca1de8b17c2e7%3A0xab18bc0a04f7f651!2sPadre%20Perna%201591%2C%20B1619HLW%20Garin%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1734039365524!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <Cta />
    </Container>
  </SectionMuted>


  <SectionMuted>
    <Container>
      <SectionTitle
        title="Algunos Testimonios"
        subtitle="Descubrí las experiencias reales de quienes han confiado en nosotros. Compartimos sus historias, opiniones y resultados, reflejando el impacto positivo que hemos tenido en sus vidas. Tu bienestar también puede ser nuestra próxima historia de éxito."
        minititle="Nuestros Pacientes"
        class="'mx-auto text-center'"
        id="testimonios"
      />
      <div x-intersect="activeStep = 'spy-4'">
        <Testimonials />
      </div>
     
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Hablemos"
        subtitle="Comunicate con nosotros al WhatsApp: +54 11 2381 1345 o por correo a consultorios.salud.fernandez@gmail.com"
        minititle="Contacto"
        class="'mx-auto text-center'"
        id="contacto"
      />
      <div x-intersect="activeStep = 'spy-5'" >
       
      </div>
     
    </Container>
  </SectionMuted>

</Layout>
