---
import Layout from "@layouts/Default.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Toolbar from "@components/content/doctors/grid/Toolbar.astro";

import Grid from "@components/content/doctors/grid/Grid.astro";
import Pricing from "@components/content/Pricing.astro";
// import Cta from "@components/content/Cta.astro";
import Testimonials from "@components/content/Testimonials.astro";
import About from "@components/content/About.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
---

<Layout title="Home">

<div class="fixed bottom-8 right-8 z-50 flex items-center justify-center w-16 h-16 bg-primary-500 text-white rounded-full shadow-xl shadow-primary-300/30 dark:shadow-primary-900/50 ">
  <a href="https://wa.me/5491141762191" target="_blank">
    <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl hover:scale-110" icon="ph:whatsapp-logo"></iconify-icon>
  </a>
</div>

  <HeroMain />

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Explorá nuestras especialidades"
        subtitle="Descubrí cómo podemos ayudarte a alcanzar una vida más saludable y plena. ¡Estamos acá para vos!"
        minititle="Servicios"
        id="servicios"
      />

      <div class="grid grid-cols-2 md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-12" 
      x-intersect="activeStep = 'spy-1'">
        <!-- Item -->
        <div>
          <IconBlock
            title="Psicología"
            text=`Tratamientos a niños adolescentes  jóvenes adultos y adultos mayores. Orientación Vocacional y Ocupacional. 
            Apto Psicológico y Psicotecnicos. 
            Pericias Judiciales.`
            icon="ph:heartbeat-duotone"
            class="'text-primary-600'"
          />
        </div>
        <div>
          <IconBlock
            title="Psiquiatría"
            text=`Atención a partir de 18 años.
Experiencia en el tratamiento de pacientes con problemas de consumo. 
Realización de evaluaciones diagnósticas (licencia de conducir, aptos para pilotos,etc.)
Acompañamiento y seguimiento para cada paciente, adaptado a sus necesidades individuales.`
            icon="ph:brain-duotone"
            class="'text-primary-600'"
          />
        </div>
        <div>
          <IconBlock
            title="Psicopedagogía"
            text=`Prevención, diagnóstico y tratamiento psicopedagogico.
Evaluación psicopedagogica niños y adultos.
Estimulación cognitiva para adultos.`
            icon="ph:baby-duotone"
            class="'text-primary-600'"
          />
        </div>

        <div>
          <IconBlock
            title="Nutrición"
            text=`Atención  para adolescentes, jóvenes y adultos. Incluye planes personalizados adaptados a diferentes necesidades, como dietas vegetarianas, control y manejo nutricional en pacientes con diabetes, y otros objetivos de salud.`
            icon="ph:apple-logo-duotone"
            class="'text-primary-600'"
          />
        </div>

        <div>
          <IconBlock
            title="Masoterapia"
            text=`Drenaje linfático manual. Dolor de ciático. Mialgias. Contusiones. Hematomas. Miositis. Esguince.`
            icon="ph:hand-soap-duotone"
            class="'text-primary-600'"
          />
        </div>

        <div>
          <IconBlock
            title="RPG"
            text=`La reeducación postural global, es un enfoque terapéutico de posturología.
            Trabaja: Recuperación muscular. Paráslisis facial. Post operatorios. 
            Lesiones deportivas. Dolor de cuello y hombro. Contracturas musculares. 
            Problemas posturales. Ciertos tipos de dolores de cabeza.`
            icon="ph:person-duotone"
             class="'text-primary-600'"
          />
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted class="'border-b border-muted-200 dark:border-muted-800'">
    <Container>
      <SectionTitle
        title="Nuestros Profesionales"
        subtitle="Contamos con un equipo de profesionales comprometidos con tu bienestar, combinando técnicas modernas con un enfoque humano y cercano."
        minititle="Profesionales"
        class="'mx-auto text-center'"
        id="profesionales"
      />

      <div x-data="doctors()"  x-intersect="activeStep = 'spy-2'">
        <Toolbar />
            <div class="mt-16">
              <!--Subgrid-->
              <Grid />
            </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <div id="talleres" x-intersect="activeStep = 'spy-3'">
        <Pricing />
      </div>
    </Container>
  </SectionMuted>

  <About />

  <!-- <SectionMuted>
    <Container>
      <div id="talleres" x-intersect="activeStep = 'spy-4'">
        <Cta />
      </div>
    </Container>
  </SectionMuted> -->

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Algunos Testimonios"
        subtitle="Descubrí las experiencias reales de quienes han confiado en nosotros, con una puntuación de 4.7 de 60 opiniones en Google, compartimos sus historias, opiniones y resultados, reflejando el impacto positivo que hemos tenido en sus vidas. Tu bienestar también puede ser nuestra próxima historia de éxito. "
        minititle="Nuestros Pacientes"
        class="'mx-auto text-center'"
        id="testimonios"
      />
      <div x-intersect="activeStep = 'spy-5'">
        <Testimonials />
      </div>
     
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Hablemos"
        subtitle="Comunicate con nosotros al WhatsApp: 11 4176 2191 o por correo a consultorios.salud.fernandez@gmail.com"
        minititle="Contacto"
        class="'mx-auto text-center'"
        id="contacto"
      />
      <div x-intersect="activeStep = 'spy-6'" class="flex justify-center items-center">
        <ButtonMain
          title="Contacto"
          class="'cursor-pointer'"
          to="https://wa.me/5491141762191"
        >
        Contactanos</ButtonMain>
      </div>

    </Container>
  </SectionMuted>

</Layout>
