---
import Container from "@components/section/Container.astro";
import Logo from "@components/base/Logo.astro";
---

<footer class="font-sans bg-white dark:bg-muted-900">
  <Container>
    <div class="px-5 py-24 mx-auto">
      <div class="flex flex-wrap md:text-left text-center -mb-10 -mx-4">
        <div class="w-full mb-10 ltablet:mb-0 lg:mb-0 ltablet:w-2/6 lg:w-2/6 px-4 hidden lg:block">
          <div class="max-w-[280px] mx-auto md:mx-0">
            <a
              href="/"
              class="flex items-center justify-center md:justify-start gap-1 mb-4"
            >
                <img src="/img/logo/logo.svg" alt="Logo" width="70">
              <span
                class="font-sans text-lg tracking-widest leading-5 text-muted-800 dark:text-muted-100 text-left"
                >Consultorios Salud y Bienestar</span
              >
            </a>
       
          </div>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            SECCIONES
          </h2>
          <ul class="list-none space-y-3 mb-10">
   
    
            <li>
              <a
                href="#servicios"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Servicios</a
              >
            </li>
            <li>
              <a
                href="#profesionales"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Profesionales</a
              >
            </li>

            <li>
              <a
                href="#talleres"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Talleres</a
              >
            </li>
            <li>
              <a
                href="#nosotros"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Nosotros</a
              >
            </li>
            <li>
              <a
                href="#testimonios"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Testimonios</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            CONTACTO
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="https://wa.me/5491141762191"
                target="_blank"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >11 4176 2191</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:w-1/6 ltablet:w-1/6 md:w-1/2 w-full px-4">
          <h2
            class="font-medium tracking-widest text-sm mb-5 text-muted-800 dark:text-muted-100"
          >
            SEGUINOS
          </h2>
          <ul class="list-none space-y-3 mb-10">
            <li>
              <a
                href="https://www.instagram.com/consultorios_salud_y_bienestar/"
                target="_blank"
                class="text-sm text-muted-500 dark:text-muted-400 hover:text-primary-500 dark:hover:text-primary-500 transition-colors duration-300"
                >Instagram</a
              >
            </li>
   
          </ul>
        </div>

      </div>
    </div>
  </Container>


  <div class="bg-muted-100 dark:bg-muted-800">
    <Container>
      <div class="py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p
          class="text-muted-500 dark:text-muted-400 text-sm text-center sm:text-left"
        >
          Consultorios Salud y Bienestar © Todos los derechos reservados
         
        </p>
        <span
          class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-left text-center text-muted-500 dark:text-muted-400 text-sm"
          >Hecho con ❤️ en {new Date().getFullYear()} 
          
        </span>
      </div>
    </Container>
  </div>
</footer>
