---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-1.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rocío E. Fernández
        </h4>
        <p class="text-sm text-muted-400">Directora</p>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
    
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención adolescentes y adultos. Especialista en Patologías narcisista y Adolescentes.(orientación en DBT ) Experiencia en Adicciones y amplia experiencia en pacientes con cáncer. Curso de Duelos.
        </p>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'masoterapia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-6.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rosana Beatriz Arce
        </h4>
        <p class="text-sm text-muted-400">Masoterapeuta</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Masoterapeuta con 15 años de experiencia. Realiza masajes descontracturantes y drenaje linfático manual.
        </p>
      </div>

    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicopedagogia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-4.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Florencia Lucero 
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicopedagogía</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Prevención, diagnóstico y tratamiento psicopedagógico. Evaluación psicopedagógica de 6 a 16 años. Tratamiento psicopedagógico a niños de 3 años en adelante. Estimulación cognitiva para adultos.
        </p>
      </div>

    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-4.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Susana Orlandi
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación TCC(Terapia Cognitivo Conductual). Atención a adolescentes y adultos. Realiza Psicotécnicos.
        </p>
      </div>

    </Card>
  </div>

  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'nutricion'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-9.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          María Laura Barrios
        </h4>
        <p class="text-sm text-muted-400">Lic. En Nutrición</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Amplia experiencia en jóvenes y adultos.
        </p>
      </div>
    
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-6.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Maribel Krispien 
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación TCC. (Terapia Cognitivo Conductual) Atención niños adolescentes y adultos. Experiencia en Acompañamiento Terapéutico y clínica en Adolescentes y adultos.
        </p>
      </div>
    
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psiquiatria'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-7.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Alfredo R. Herman
        </h4>
        <p class="text-sm text-muted-400">Medico Psiquiatra</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención a partir de 15 años..
        </p>
      </div>
   
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-4.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Patricia Nicola
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación Psicoanálisis. Atención adolescentes adultos y adultos mayores. Terapia de pareja. Experiencia en violencia de género.
        </p>
      </div>
    
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/doctors/doctor-9.svg"
          alt="Doctor"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Viviana Villodas
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología Orientación Psicoanalítica</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención Adolescentes y adultos. Realiza Terapia de pareja y orientación familiar en adicciones. Formación de posgrado en drogodependencia. Amplia experiencia en discapacidad y consumo problemático de sustancias.
        </p>
      </div>
   
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicopadagogia' | activeCategory === 'talleres'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-4.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Lucila Diaz 
        </h4>
        <p class="text-sm text-muted-400">Psicopedagoga</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Psicopedagoga con tramo de formación pedagógica en Nivel superior. Realiza talleres para niños de 3 a 16 años. Amplia Experiencia en instituciones educativas , asesoramiento a familias y docentes
        </p>
      </div>
 
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicopedagogia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-1.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Lorena Solis
        </h4>
        <p class="text-sm text-muted-400">Psicopedagoga</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención a niños de 6 a 15 años. Experiencia en dificultades de aprendizaje.
        </p>
      </div>

    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-6.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Florencia Esteves
        </h4>
        <p class="text-sm text-muted-400">Lic. En Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Más de 10 años de experiencia en Evaluación Neurocognitiva para adultos y Evaluación diagnostica TEA (ADOS y ADIR-R) niños. Miembro de la junta de Discapacidad de Malvinas Argentinas.
        </p>
      </div>
   
    </Card>
  </div>

  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-4.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Jesica Saldivar
        </h4>
        <p class="text-sm text-muted-400">Lic. En Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Psicoanálisis. Atención a partir de 16 años hasta adultos mayores. Terapia de Pareja. Capacitación en Psicotécnicos. Experiencia en violencia de género.
        </p>
      </div>
   
    </Card>
  </div>

  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
      <img
      class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
      src="/img/illustrations/doctors/doctor-6.svg"
      alt="Doctor"
    />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Camila Gomez Quiroga
        </h4>
        <p class="text-sm text-muted-400">Lic. En Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación y formación en TCC(Terapia Cognitiva Conductual)Experiencia en rehabilitación en niños. Atención niños , adolescentes y adultos jóvenes.
        </p>
      </div>
   
    </Card>
  </div>
</div>
