---
import Card from "@components/base/Card.astro";
---

<div class="grid grid-cols-2 md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-3 lg:gap-x-6 ptablet:gap-x-4 gap-y-3 lg:gap-y-20 lg:pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/rocio-fernandez.png"
          alt="Rosana Arce"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rocío E. Fernández
        </h4>
     
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
    
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención adolescentes y adultos. Especialista en Patologías narcisista y Adolescentes.(orientación en DBT ) Experiencia en Adicciones y amplia experiencia en pacientes con cáncer. Curso de Duelos.
        </p>
      </div>
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'masoterapia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 "
      >
        <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
            <img
            class="w-full h-full object-contain"
            src="/img/team/rosana-arce.jpg"
            alt="Rosana Arce"
          />
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rosana Beatriz Arce
        </h4>
        <p class="text-sm text-muted-400">Masoterapeuta</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Masoterapeuta con 15 años de experiencia. Realiza masajes descontracturantes y drenaje linfático manual.
        </p>
      </div>

    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicopedagogia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/florencia-lucero.jpg"
          alt="Florencia Lucero"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Florencia Lucero 
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicopedagogía</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Prevención, diagnóstico y tratamiento psicopedagógico. Evaluación psicopedagógica de 6 a 16 años. Tratamiento psicopedagógico a niños de 3 años en adelante. Estimulación cognitiva para adultos.
        </p>
      </div>

    </Card>
  </div>
  
  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/susana-orlandi.jpg"
          alt="Susana Orlandi"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Susana Orlandi
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación TCC(Terapia Cognitivo Conductual). Atención a adolescentes y adultos. Realiza Psicotécnicos.
        </p>
      </div>

    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'nutricion'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40"
    >
      <div class="rounded-full aspect-square overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain "
          src="/img/team/maria-barrios.jpg"
          alt="Maria Laura Barrios"
        /> 
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          María Laura Barrios
        </h4>
        <p class="text-sm text-muted-400">Lic. en Nutrición</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Amplia experiencia en jóvenes y adultos.
        </p>
      </div>
    
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/maribel-krispien.jpg"
          alt="Maribel Krispien"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Maribel Krispien 
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación TCC. (Terapia Cognitivo Conductual) Atención niños adolescentes y adultos. Experiencia en Acompañamiento Terapéutico y clínica en Adolescentes y adultos.
        </p>
      </div>
    
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psiquiatria'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/alfredo-herman.jpg"
          alt="Alfredo Herman"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Dr. Alfredo R. Herman
        </h4>
        <p class="text-sm text-muted-400">Medico Psiquiatra</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención a partir de 15 años..
        </p>
      </div>
   
    </Card>
  </div>
 
  <div x-show="activeCategory === 'all' || activeCategory === 'cardiology'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/patricia-nicola.jpg"
          alt="Patricia Nicola"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Patricia Nicola
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación Psicoanálisis. Atención adolescentes adultos y adultos mayores. Terapia de pareja. Experiencia en violencia de género.
        </p>
      </div>
    
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'general'">
    <Card class="'p-4'">
        <div
        class="relative w-full h-40 "
      >
        <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
            <img
            class="w-full h-full object-contain"
            src="/img/team/viviana-villodas.jpg"
            alt="Viviana Villodas"
          />
        </div>
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Viviana Villodas
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación Psicoanalítica. <br>
          Atención Adolescentes y adultos. Realiza Terapia de pareja y orientación familiar en adicciones. Formación de posgrado en drogodependencia. <br>
          Amplia experiencia en discapacidad y consumo problemático de sustancias.
        </p>
      </div>
   
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicopadagogia' | activeCategory === 'talleres'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/rocio-armas.jpg"
          alt="Rocio Armas"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Rocio Armas
        </h4>
        <p class="text-sm text-muted-400">Secretaria</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
         Nuestra secretaria y el corazón administrativo de nuestro consultorio. Siempre atenta, organizada y con una sonrisa para todos.
        </p>
      </div>
 
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicopedagogia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/lorena-solis.jpg"
          alt="Lorena Solis"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Lorena Solis
        </h4>
        <p class="text-sm text-muted-400">Psicopedagoga</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Atención a niños de 6 a 15 años. Experiencia en dificultades de aprendizaje.
        </p>
      </div>

    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/cecilia-dominguez.jpg"
          alt="Cecilia Dominguez"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Cecilia Dominguez
        </h4>
        <p class="text-sm text-muted-400">Lic. en Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
         Orientación sistemica. <br/>
         Atiende adolescentes adultos y adultos mayores.<br/>
         Formación en terapia de pareja y terapia familiar.<br/>
         Amplia experiencia en adicciones. 
        </p>
      </div>
   
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/jesica-saldivar.jpg"
          alt="Jesica Saldivar" 
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Jesica Saldivar
        </h4>
        <p class="text-sm text-muted-400">Lic. En Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Psicoanálisis. Atención a partir de 16 años hasta adultos mayores. Terapia de Pareja. Capacitación en Psicotécnicos. Experiencia en violencia de género.
        </p>
      </div>
   
    </Card>
  </div>

  <div x-show="activeCategory === 'all' || activeCategory === 'psicologia'">
    <Card class="'p-4'">
      <div
      class="relative w-full h-40 "
    >
      <div class="rounded-full overflow-hidden absolute bottom-0 inset-x-0 mx-auto w-full max-w-[240px] ptablet:max-w-[220px] shadow-xl">
          <img
          class="w-full h-full object-contain"
          src="/img/team/camila-quiroga.jpg"
          alt="Camila Quiroga"
        />
      </div>
    </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Camila Gomez Quiroga
        </h4>
        <p class="text-sm text-muted-400">Lic. En Psicología</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Orientación y formación en TCC(Terapia Cognitiva Conductual)Experiencia en rehabilitación en niños. Atención niños , adolescentes y adultos jóvenes.
        </p>
      </div>
   
    </Card>
  </div>
</div>
